<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title id="title">Attendify</title>
</head>
<body>
    <div class="container">
        <h1>Attendance Percentage Calculator</h1>
        <form action="/" method="post">
            <label for="start_date">Start Date</label>
            <input type="date" name="start_date" id ="start_date" required><br>
            <label for="end_date">End Date</label>
            <input type="date" name="end_date" required id="end_date"><br>
            <label for="absences">Total Absences</label><br>
            <p>Note: Enter Total Number of Absences in That Period Apart From Sunday's and BEU Official Holidays </p>
            <input type="number" name="absences" id ="absences" placeholder="Number of Absences in That Period Apart From Sunday's and BEU Official Holidays" required>
            <button type="submit">Calculate</button>
        </form>
        {% if attendance_percentage %}
            <h2>Your Attendance Percentage is: {{ attendance_percentage }}</h2>
        {% endif %}
        <p>Note: Accuracy may vary by 2-3% due to college-specific holidays such as during exams and functions, etc. </p>

    </div>
</body>
</html>
